<div class="footer">
    <div class="pull-right">
        BiZ+<small> Yours Perfect Business Companion</small>
    </div>
    <div>
        <strong>Copyright</strong> E r y p s o  &copy; 2018-2019
    </div>
</div>
