<div class="footer">
    <div class="pull-right">
        <b style="color:#0094ff">BiZ+</b><small style="color:#808080"> Yours Perfect Business Companion</small>
</div>
    <div>
        <b style="color:#0094ff"> E r y p s o </b> &copy; 2018-2019
    </div>
</div>
